a {
    text-decoration: none;
    color: white;

}

li {
    list-style: none;
    
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: black;
    height: 20px;
    margin: 0;
    

}
.navigation {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    display: none;

}

@media screen and (max-width:480px){
    .navigation {
        display: block;
    }
}